* {
    padding: 0;
    margin: 0;
    
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.html {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.type_h1 {
    color: rgb(255, 255, 255);  
    text-align: center;
    margin-top: 30px;
}

.type_grid {
    width: 400px;
    background-color: rgb(49, 51, 56);
    height: 566px;
    border-radius: 10px;
    position: absolute;
}
.type_snape_button{
    width: 300px;
    height: 80px;
    margin: 0 auto;    
}

.type_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.type_button {
    border: none;
    box-shadow: none;
    background-color: rgb(71, 82, 196);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
     
}
.type_button:active {
    background-color: rgb(40, 46, 110); /* Đổi màu nền */
    transform: scale(0.95);     /* Thu nhỏ nút lại */
                 /* Đổi màu chữ */
}
.hidden {
    opacity: 0; /* Độ mờ 0 (ẩn) */
    visibility: hidden; /* Ẩn phần tử */
    transition: opacity 2s ease, visibility 2s ease; /* Thời gian chuyển tiếp cho cả opacity và visibility */
}

.visible {
    opacity: 1; /* Độ mờ 1 (hiện) */
    visibility: visible; /* Hiện phần tử */
    transition: opacity 2s ease, visibility 2s ease; /* Thời gian chuyển tiếp cho cả opacity và visibility */
}

.type_snape_input{
    width: 300px;
    height: 40px;
    margin: 0 auto; 
    border-radius: 5px;
    border: none;

}
.type_p{
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

 .type_input{
    font-size: 20px;
    padding-left: 10px;
 }
 .type_a{
    margin-top: 3px;
    font-size: 13px;
    color: rgb(7, 152, 225);
 }
 .type_check{
    color: rgb(71, 82, 196);
    font-size: 100px;
 }