.ckb {
    display: none; /* Ẩn checkbox */
}

.ckb + .label1 {
    display: inline-block;
    cursor: pointer;
    width: 24px; /* Kích thước label */
    height: 24px;
    background-image: url('resources/svg/home2.svg');
    background-size: cover;
}

.ckb:checked + .label1 {
    /* Thay đổi hình ảnh hoặc thêm hiệu ứng khi checkbox được chọn */
    background-image: url('resources/svg/home3.svg');
}
.ckb + .label1:hover {
    /* Thay đổi hình ảnh khi di chuột vào label */
    background-image: url('resources/svg/home3.svg');
}