.type_button {
    cursor: pointer;
    
}
.type_button:active {
    transform: scale(0.95);     /* Thu nhỏ nút lại */
}
.type_button:hover {
    background-color: rgb(56, 68, 172); /* Màu khi di chuột vào */
}
.hidden {
    opacity: 0; /* Đặt độ mờ thành 0 để ẩn phần tử */
    transition: opacity 0.5s ease; /* Thêm hiệu ứng mờ dần */
}

.visible {
    opacity: 1; /* Đặt độ mờ thành 1 để hiện phần tử */
    transition: opacity 0.5s ease; /* Thêm hiệu ứng mờ dần */
}